{% load static %}
<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
    <title>About Us</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body> 
	<header>

    <div class="left_area">
        <h3>Career <span> Stacks</span></h3>
    </div>

    <div id="main">
    	<h1>ABOUT US</h1> 
    </div>
   
    <div id="para">
        <p>We are presenting this product for the help of <b>M-CAT</b> and <b>E-CAT</b> students basically<br> this is a web application which will provide information to <b>M-CAT</b> and <b>E-CAT</b><br> students in those days in which their exams are near. This application will also<br> help the students in selecting their field, that which field they should choose according<br> to their interest. It also includes a query box in which students can ask their questions<br> and queries related to studies this application also allows the students to view the<br> pastpapers also, and if they want to seek any guidance from the teachers they can<br> also do so using this application it also consist of the information of webinars<br> and seminars related to educational purpose which are going to be held in Karachi.</p>
    
         
    
    
    </div>
    </header>
