{% load static %}
<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
    <title>E-CAT</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ecat.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body> 
	<header>

    <div class="left_area">
        <h3>Career <span> Stacks</span></h3>
    </div>

    <div id="main">
    	<h1>E-CAT</h1> 
    </div>
   
    <div id="para">
        <p><b>Why this Career right for me?</b></p>
        <p>Its Important to find a career that you enjoy. Engineering can provide a satisfying  field of work. An engineering education will exercise your brain,<br> developing your ability to think logically and to solve problems. These skills that will be valuable throughout your life<br> and not only when you are solving engineering problems. Engineering is very creative profession.<br> Because we are in a time of rapid social and technological changes.<br> It is also a lucrative career. As a member of such a respected profession, you will receive a high amount of prestige.</p>
        <p><b>What is the E-CAT Exam?</b></p>
        <p><b>The Engineering College Admission Test</b>.The E-CAT is conducted by Engineering Universities for admission in BE/BS/BSc engineering degrees.<br> The E-CAT exam tests examinees on the skills and knowledge.The test duration for E-CAT is almost 2 hours<br> it include Mathematics, Physics, Chemistry(Can be subsituted by computer science or statistics)<br> and basic English. It is a key requirement for admission in many top engineering universities of Karachi, Pakistan.  </p>
        
    <div id="uni">
        <h2>ENGINEERING UNIVERSITIES IN KARACHI</h2>
    
        <li>NED University of Engineering & Technology</li>
        <li>Bahria University</li>
        <li>Habib University (HU)</li>
        <li>National University of Sciences and Technology</li>
        <li>Dawood University of Engineering & Technology</li>
        <li>Sir Syed University of Engineering & Technology</li>
        <li>University of Karachi</li>
        <li>Hamdard University</li>
        <li>Usman Institute of Technology</li>
        <li>PAF-KIET College of Engineering</li>
        <li>Institute of Industrial Electronics Engineering</li>

    </div>  
     <div id="link">
        <h4>LINKS FOR PAST PAPERS/ LATEST NEWS</h4>
    
        <a href="https://www.hec.gov.pk/english/pages/home.aspx">https://www.hec.gov.pk/english/pages/home.aspx</a><br>
        <a href="https://www.facebook.com/educationinkarachi45/">https://www.facebook.com/educationinkarachi45/</a><br>
        <a href="https://www.neduet.edu.pk/admission">https://www.neduet.edu.pk/admission</a><br>
        <a href="https://www.ilmkidunya.com/online-test/ecat-test-preparation.aspx">https://www.ilmkidunya.com/online-test/ecat-test-preparation.aspx/</a>
    </div>
         
    
    
    </div>
    </header>
