{% load static %}
<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
    <title>How to use?</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Howtouse.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body> 
	<header>

    <div class="left_area">
        <h3>Career <span> Stacks</span></h3>
    </div>

    <div id="main">
    	<h1>HOW TO USE?</h1> 
    </div>
   
    <div id="para">
        <p>This application is very easy to use and doesn't need any hard and fast rule<br> if the user is using it for the first time then he needs to make an account by<br> giving it's information and ance he login into the application the main page<br> will be appeared the user can also save his password and resume it for the<br> future use. On the main page there are several options available.</p>
    
         
    
    
    </div>
    </header>
