{% load static %}
<!DOCTYPE html>
<html lang="en" dir="itr">
<head>
    <title>M-CAT</title>
	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mcat.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body> 
	<header>

    <div class="left_area">
        <h3>Career <span> Stacks</span></h3>
    </div>

    <div id="main">
    	<h1>M-CAT</h1> 
    </div>
   
    <div id="para">
        <p><b>Why this Career right for me?</b></p>
        <p>Before you Embark on the road of entrance exams, one of the first things you need to ask yourself is whwther you want to work within healthcare.<br> Ask yourself why medicine appeals to you, and see whether these expectations match the realities of what you saw.<br> This form of shadowing will give you an invaluable insight into the career<br> and you will often quickly realise whether you can picture<br>yourself in that position or not. You might even realise you prefer the role of a different healthcare professional.</p>
        <p><b>What is the M-CAT Exam?</b></p>
        <p><b>The Medical College Admission Test.</b> The M-CAT exam tests examinees on the skills and knowledge that medical educators, physicians, medical students,<br> and resident have identified as key prerequisties for success in medical school and practicing medicine.<br>The M-CAT is held once a year in karachi, This test is usually held in september/october.<br>The test duration for M-CAT is almost 2 hours it include Biology, Physics, Chemistry and basic English </p>
        
    <div id="uni">
        <h2>MEDICAL UNIVERSITIES IN KARACHI</h2>
    
        <li>Dow Medical College</li>
        <li>Sindh Medical College</li>
        <li>Karachi Medical & Dental College</li>
        <li>Dow International Medical College</li>
        <li>Aga Khan University Medical College</li>
        <li>Baqai Medical College</li>
        <li>Hamdard College of Medicine & Dentistry</li>
        <li>Jinnah Medical & Dental College</li>
        <li>Sir Syed College of Medical Sciences for Girls</li>
        <li>Ziauddin Medical College</li>
        <li>Liaquat College of Medicine & Dentistry</li>
        <li>Liaquat National Medical College</li>
        <li>Bahria University Medical & Dental College</li>
    </div>  
     <div id="link">
        <h4>LINKS FOR PAST PAPERS/ LATEST NEWS</h4>
        <a href="https://sindhmcat.pk/mcat-nts-solved-past-papers/">https://sindhmcat.pk/mcat-nts-solved-past-papers/</a><br>
        <a href="https://www.hec.gov.pk/english/pages/home.aspx">https://www.hec.gov.pk/english/pages/home.aspx</a><br>
        <a href="https://www.facebook.com/educationinkarachi45/">https://www.facebook.com/educationinkarachi45/</a><br>
        <a href="https://www.nts.org.pk/">https://www.nts.org.pk/</a>
    </div>
         
    
    
    </div>
    </header>


</body>
</html>   